body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 0px;
    background-color:#a1e9d4;
}

 /* Sticky Navbar */
nav {
  background:#c1eade;
  color: white;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

 
  position: sticky;
  top: 0;
  z-index: 1000;
}

/*nav {
    background: #333;
    padding: 10px;
}*/

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0; padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #39977b;
    text-decoration: none;
    font-size: larger;
}

section {
    padding: 50px;
    text-align: center;
}

input,textarea{
    background-color: #c1eade;
    width: 170px;

}

 button {
  background-color:#39977b;
  color: white;
}

#projects ul {
    list-style: none;
    padding: 0;
}

/* Responsive */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
}

/* Gallery Section */
#gallery {
  background: #a1e9d4;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease, filter 0.4s ease;
}

/* Hover Effect */
.gallery-item:hover img {
  transform: scale(1.1);
  filter: brightness(80%);
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode ul li a {
    color: #a04545;
    text-decoration: none;
    font-size: larger;
}

.dark-mode #gallery {
  background: #dd7f7f;
}
.dark-mode nav {
  background-color:#dda5a5;
}

.dark-mode section {
  background-color: #dd7f7f;
}

.dark-mode .project,
.dark-mode .gallery-item {
  background-color: #1f1f1f;
}

.dark-mode input,
.dark-mode textarea {
  background-color:#dda5a5;
  color: white;
  border: 1px solid #555;
}

.dark-mode button {
  background-color: #9e5353;
  color: white;
}

